body{
    background-color: #beaedb;
}

.navbar {
    background-color: #3f2a52;
}

.card-personalizada{
    background-color: #edf6fd;
}

footer{
    background-color: #3a2d34;
}

.btn{
    background-color: #75619d;
    color: #e4f2ff;
}
.btn:hover{
    background-color: #3a2d34;
    color: #e4f2ff;
}

.btn1:hover {
    background-color: #d5d5d5;
    color: #3a2d34;
}

.text1{
    font-weight: bold;
    color: #e4f2ff;
    text-shadow: 1px 1px 0 #3a2d34, -1px -1px 0 #3a2d34, 1px -1px 0 #3a2d34, -1px 1px 0 #3a2d34;
}