body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('/Imagenes/dcComics.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    background: linear-gradient(to bottom, rgba(66, 48, 81, 1.0), rgba(66, 48, 81, 0.6), transparent);
}

.card-personalizada{
    background-color: #edf6fd;
}

footer, footer p {
    background: linear-gradient(to top, rgba(66, 48, 81, 1.0), rgba(66, 48, 81, 1.0), transparent);
    color: #fcd034;

}

.btn{
    background-color: #75619d;
    color: #e4f2ff;
}
.btn:hover{
    background-color: #3a2d34;
    color: #e4f2ff;
}

.btn1{
    background-color: #fcd034;
    color: #2f3438;
}

.btn1:hover {
    background-color: #d5d5d5;
    color: #3a2d34;
}

.text{
    font-weight: bold;
    color: #e4f2ff;
    text-shadow: 1px 1px 0 #3a2d34, -1px -1px 0 #3a2d34, 1px -1px 0 #3a2d34, -1px 1px 0 #3a2d34;
}